.App {
  margin: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.task-view {
  background-color: #dddddd;
  border-radius: 20px;
  margin: 2vw;
}

.temp-black-line {
  background-color: black;
  width: 100%;
  height: 1px;

}

/* ------- Task Creation Form -------*/
.task-creator {
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
  max-width: 800px;
}

.task-creator h3 {
  text-align: center;
}

.task-input-field {
  padding-left: 20px;
  width: 80%;
}

.task-creator label {
  text-transform: uppercase;
  font-size: small;
}

.task-creator input, textarea {
  width: 100%;
  font-size: large;
}

.task-creator button {
  height: 50px;
  border-radius: 5px;
  font-size: large;
  margin-left: 2%;
  margin-right: 2%;
}

.task-save-button {
  width: 67%;
  border: none;
  background-color: black;
  color: white;
}

.task-cancel-button {
  width: 25%;
  background-color: transparent;
  color: black;
  border: solid;
}

.task-save-button:hover {
  background-color: #333333;
  cursor: pointer;
}

.task-cancel-button:hover {
  background-color: #00000033;
  cursor: pointer;
}

.date-input {
  max-width: 200px;
}

.input-warning {
  color: red;
}

/* ------------Task List ------------*/
.taskList {
  display:flex;
  flex-wrap: wrap;
  align-content:flex-start;
  gap:10px;
  margin:auto;
  background-color:beige;
  padding:1%;
}
.task {
  padding:3px;
  background-color:#dddddd;
  width:30%;
  max-width:300px;
  height:auto;
  box-sizing:border-box;
}

.task form {
  box-sizing:border-box;
}

.task form textarea{
  box-sizing:border-box;
  border:none;
  resize:none;
}

.task form button{
  height:auto;
  text-align:center;
  margin:auto;
}

.description {
  height:10rem;
}

.text-center {
  text-align:center;
}

.complete {
  background-color:#dddddd;
}

.incomplete {
  background-color:#f4fab6;
}

.transparent {
  background-color: transparent;
}

.white {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display:flex;
  justify-content: flex-start;
  gap:5px;
}