.App {
  margin: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.task-view {
  background-color: #dddddd;
  border-radius: 20px;
  margin: 2vw;
}

.temp-black-line {
  background-color: black;
  width: 100%;
  height: 1px;

}

.task-creator textarea {
  width: 100%;
}

.task-creator {
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
  max-width: 800px;
}

.task-creator h3 {
  text-align: center;
}

.task-input-field {
  padding-left: 20px;
  width: 80%;
}

.task-creator label {
  text-transform: uppercase;
  font-size: small;
}

.task-creator input, textarea {
  width: 100%;
  font-size: large;
}

.task-creator button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  font-size: large;
}

.task-creator button:hover {
  background-color: #333333;
  cursor: pointer;
}

.date-input {
  max-width: 200px;
}

.input-warning {
  color: red;
}

/* ------------Task List ------------*/
.taskList {
  display:flex;
  flex-wrap: wrap;
  align-content:flex-start;
  gap:10px;
  margin:auto;
}
.task {
  padding:3px;
  background-color:#dddddd;
  width:30%;
  max-width:400px;
}

.text-center {
  text-align:center;
}

.complete {
  background-color:#dddddd;
}

.incomplete {
  background-color:#f4fab6;
}

.transparent {
  background-color: transparent;
}

.white {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

input {
  width: 80%;
  border:none;
}